/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.Dcolor{
  background-color: white;
}
.comfortaa{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}